<div id="dashboard">
    <div class="dashboardDiv" (click)="changeSelection('Licenses')">
      <img class="dashboardImg" src="../assets/licenseIconV11.png" />
      <p>Licenses</p>
      <p>Active: 238 &nbsp; Inactive: 521</p>
    </div>
    <div class="dashboardDiv" (click)="changeSelection('Customers')">
      <img class="dashboardImg" src="../assets/customersIcon.jpg" />
      <p>Customers</p>
      <p>528</p>
    </div>
    <div class="dashboardDiv" (click)="changeSelection('Products')">
      <img class="dashboardImg" src="../assets/productsIconV2.png" />
      <p>Products</p>
      <p>103</p>
    </div>
  </div>
  